In [27]:
import os 
os.getcwd()

'C:\\Users\\micka\\OneDrive\\Documents\\Ynov\\CONCEPTS ET TECHNO IA\\TP 1 IA\\EDA\\ProjetIA'

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sci

In [29]:
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid", palette="muted")

In [30]:
df = pd.read_csv("application_train.csv")
df.shape[0]

307511

In [31]:
missing = df.isna().sum().sort_values(ascending=False)
pd.DataFrame({"nb_nan": missing, "pct_nan": (missing/len(df)).round(3)}).head(50)

                              nb_nan  pct_nan
COMMONAREA_AVG                214865    0.699
COMMONAREA_MODE               214865    0.699
COMMONAREA_MEDI               214865    0.699
NONLIVINGAPARTMENTS_MEDI      213514    0.694
NONLIVINGAPARTMENTS_MODE      213514    0.694
NONLIVINGAPARTMENTS_AVG       213514    0.694
FONDKAPREMONT_MODE            210295    0.684
LIVINGAPARTMENTS_AVG          210199    0.684
LIVINGAPARTMENTS_MEDI         210199    0.684
LIVINGAPARTMENTS_MODE         210199    0.684
FLOORSMIN_MODE                208642    0.678
FLOORSMIN_AVG                 208642    0.678
FLOORSMIN_MEDI                208642    0.678
YEARS_BUILD_AVG               204488    0.665
YEARS_BUILD_MODE              204488    0.665
YEARS_BUILD_MEDI              204488    0.665
OWN_CAR_AGE                   202929    0.660
LANDAREA_MEDI                 182590    0.594
LANDAREA_AVG                  182590    0.594
LANDAREA_MODE                 182590    0.594
BASEMENTAREA_MODE             179943    0.585
BASEMENTAREA_MEDI             179943    0.585
BASEMENTAREA_AVG              179943    0.585
EXT_SOURCE_1                  173378    0.564
NONLIVINGAREA_MODE            169682    0.552
NONLIVINGAREA_AVG             169682    0.552
NONLIVINGAREA_MEDI            169682    0.552
ELEVATORS_AVG                 163891    0.533
ELEVATORS_MEDI                163891    0.533
ELEVATORS_MODE                163891    0.533
WALLSMATERIAL_MODE            156341    0.508
APARTMENTS_AVG                156061    0.507
APARTMENTS_MEDI               156061    0.507
APARTMENTS_MODE               156061    0.507
ENTRANCES_MODE                154828    0.503
ENTRANCES_MEDI                154828    0.503
ENTRANCES_AVG                 154828    0.503
LIVINGAREA_AVG                154350    0.502
LIVINGAREA_MEDI               154350    0.502
LIVINGAREA_MODE               154350    0.502
HOUSETYPE_MODE                154297    0.502
FLOORSMAX_MODE                153020    0.498
FLOORSMAX_AVG                 153020    0.498
FLOORSMAX_MEDI                153020    0.498
YEARS_BEGINEXPLUATATION_MODE  150007    0.488
YEARS_BEGINEXPLUATATION_MEDI  150007    0.488
YEARS_BEGINEXPLUATATION_AVG   150007    0.488
TOTALAREA_MODE                148431    0.483
EMERGENCYSTATE_MODE           145755    0.474
OCCUPATION_TYPE                96391    0.313

17 variables présentent un taux de valeurs manquantes supérieur à 60%.
Elles doivent certainement correspondre à des informations facultatives qui n'ont pas été transmises par les clients. 
La plupart de ces variables sont liées au logement, j'aurais donc tendance à dire qu'ici elles sont facultatives pour notre EDA.
Je vais donc drop toutes les colonnes qui dépassent ce seuil de 60%.

In [32]:
threshold = 0.60
to_drop = [col for col in df.columns if df[col].isna().mean() > threshold]
print(f"{len(to_drop)} colonnes supprimées sur {len(df.columns)}")
dropped = df.drop(columns=to_drop)
dropped.shape

17 colonnes supprimées sur 122

(307511, 105)

Les 17 colonnes ont été retirées du dataframe principal et stockées à part dans "dropped"
On va maintenant pouvoir débuter l'analyse univariée.

In [37]:
desc = df.describe().T
desc["missing_rate"] = (df.isna().sum() / len(df) * 100).round(2)
desc["skew"] = df.skew(numeric_only=True).round(2)
desc["kurtosis"] = df.kurtosis(numeric_only=True).round(2)
desc.head(15)

,count,mean,std,min,25%,50%,75%,max,missing_rate,skew,kurtosis
SK_ID_CURR,307511.0,278180.518577,102790.175348,100002.00000,189145.500000,278202.00000,367142.500000,4.562550e+05,0.00,-0.00,-1.20
TARGET,307511.0,0.080729,0.272419,0.00000,0.000000,0.00000,0.000000,1.000000e+00,0.00,3.08,7.48
CNT_CHILDREN,307511.0,0.417052,0.722121,0.00000,0.000000,0.00000,1.000000,1.900000e+01,0.00,1.97,7.90
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,25650.00000,112500.000000,147150.00000,202500.000000,1.170000e+08,0.00,391.56,191786.55
AMT_CREDIT,307511.0,599025.999706,402490.776996,45000.00000,270000.000000,513531.00000,808650.000000,4.050000e+06,0.00,1.23,1.93
AMT_ANNUITY,307499.0,27108.573909,14493.737315,1615.50000,16524.000000,24903.00000,34596.000000,2.580255e+05,0.00,1.58,7.71
AMT_GOODS_PRICE,307233.0,538396.207429,369446.460540,40500.00000,238500.000000,450000.00000,679500.000000,4.050000e+06,0.09,1.35,2.43
REGION_POPULATION_RELATIVE,307511.0,0.020868,0.013831,0.00029,0.010006,0.01885,0.028663,7.250800e-02,0.00,1.49,3.26
DAYS_BIRTH,307511.0,-16036.995067,4363.988632,-25229.00000,-19682.000000,-15750.00000,-12413.000000,-7.489000e+03,0.00,-0.12,-1.05
DAYS_EMPLOYED,307511.0,63815.045904,141275.766519,-17912.00000,-2760.000000,-1213.00000,-289.000000,3.652430e+05,0.00,1.66,0.77
DAYS_REGISTRATION,307511.0,-4986.120328,3522.886321,-24672.00000,-7479.500000,-4504.00000,-2010.000000,0.000000e+00,0.00,-0.59,-0.32
DAYS_ID_PUBLISH,307511.0,-2994.202373,1509.450419,-7197.00000,-4299.000000,-3254.00000,-1720.000000,0.000000e+00,0.00,0.35,-1.11
OWN_CAR_AGE,104582.0,12.061091,11.944812,0.00000,5.000000,9.00000,15.000000,9.100000e+01,65.99,2.75,9.21
FLAG_MOBIL,307511.0,0.999997,0.001803,0.00000,1.000000,1.00000,1.000000,1.000000e+00,0.00,-554.54,307511.00
FLAG_EMP_PHONE,307511.0,0.819889,0.384280,0.00000,1.000000,1.00000,1.000000,1.000000e+00,0.00,-1.66,0.77